/* 
font-family: 'Lobster', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Lobster Two', cursive;
*/

body {
    background-color: #7E969E;
    color: white;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    font-size: 20px;
}
#container {
    width: 1000px;
    margin-left:auto;
    margin-right: auto;
}
.rectangle {
    font-family: 'Lobster', cursive;
    width: 960px;
    margin: 20px;
    text-align: center;
    font-weight: 400;
}
.square {
    width: 50%;
    float:left;
}
#logo {
    float: left;
    font-size: 50px;
    width: 600px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left;
}
#clock {
    float: left;
    width: 360px;
    font-size: 28px;
    margin-top: 23px;
    margin-bottom: 4px;
    text-align: left;
}
.tile1a {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #A4B8BD;
    float:left;
    text-align: center;
}
.tile1a:hover {
    background-color: #93a7ac;
}
.tile1b {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #97ADA4;
    float:left;
    text-align: center;
}
.tile1b:hover {
    background-color: #869c93;
}
.tile2 {
    margin: 10px;
    width: 230px;
    height: 142px;
    /*background-color: #9C99A3;*/
    background-color: #8B7E91;
    float:left;
    text-align: center;
}
.tile2:hover {
    background-color: #7a6d80;
}
.tile3 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #A9A3BF;
    float:left;
    text-align: center;
}
.tile3:hover {
    background-color: #9892ae;
}
.tile4 {
    margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #9C99A3;
    text-align: center;
    font-size: 26px;
    padding: 30px;
    line-height: 150%;
}
.tile5 {
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #A0ABAD;
    text-align: justify;
    padding: 30px;
}
#slider {
    width: 420px;
    height: 244px;
    background-color: #A0ABAD;
    text-align: justify;
}
.bottombar {
    font-family: 'Lobster', cursive;
    background-color: #88AAB5;
    /*background-color: #8B7E91;*/
    width: 960px;
    margin: 10px;
    padding-right: 20px;
    text-align: center;
    font-weight: 400;
}
.findme {
    padding-top: 10px;
    position: relative;
    left: 10px;
}
.icons {
    width: 260px;
    position: relative;
    right: -360px;
    padding-bottom: 10px;
}
.fb {
    margin: 10px;
    border-radius: 15px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: #4668b3;
    float:left;
    text-align: center;
}
.fb:hover {
    background-color: #3557a2;
}
.bitbucket {
    margin: 10px;
    margin-right: 20px;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background-color: #205081;
    float:left;
    text-align: center;
}
.bitbucket:hover {
    background-color: #104070;
}
.li {
    margin: 10px;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background-color: #3095d3;
    float:left;
    text-align: center;
}
.li:hover {
    background-color: #2084c2;
  
}

a.link {
    color: white;
    text-decoration: none;    
}